@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}

table, td, th{
    border: 1px solid rgb(190, 190, 190);
    border-collapse: collapse;
    padding: 8px;
    font-family: "Roboto";
    text-align: center;
    margin: auto;
}

.txtbold{
    font-weight: 700;
}

.highlight{
    background-color: rgb(237, 237, 237);
}

.title{
    font-family: "Roboto";
    font-size: 30px;
    text-align: center;
}