*{
    box-sizing: border-box;
}

.floatleft{
    float: left;
    width: 48%;
}

.floatright{
    float: right;
    width: 50%;
}

.outerbox{
    background-color: rgb(33, 77, 110);
    width: 40%;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
}

#income, #proff, #hobbies, #mail, #bio, .textinput{
    width: 100%;
}

form{
    border-radius: 10px 10px 0px 0px;
    border: 1px solid black;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
}

.header{
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    text-align: center;
    font-size: large;
    background-color: rgb(238, 238, 238);
    margin: 0px;
}

.subhead{
    color: rgb(7, 87, 7);
}

input{
    margin-bottom: 10px;
}

.hobbies{
    width: 50%;
}

.submit-btn{
    background-color: rgb(7, 87, 7);
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 10px;
    padding: 5px;
}

select{
    margin-bottom: 10px;
}

.content{
    padding: 10px;
}

.footer{
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    text-align: end;
    font-size: large;
    background-color: rgb(238, 238, 238);
    padding: 10px 40px 10px 10px;
}

@media screen and (max-width: 600px) {
    .floatleft{
      float: none;
      width: 100%;
    }
    .floatright{
        float: none;
        width: 100%;
    }
    .footer{
        text-align: center;
        padding: 2px;
    }
    .outerbox{
        width: fit-content;
    }
  }